body {
    padding-top:50px;
    padding-bottom:20px;
}
.body-content{
    padding-left:15px;
    padding-right:15px;
}
.dl-horizontal dt{
    white-space:normal;
}
textarea{
    max-width:280px;
}
.course{
    list-style:none;
}
.course>li{
    position:relative;
    margin-bottom:30px;
}
.course > li .date{
    text-align:center;
    background-color:#d41d50;
    color:white;
    width:60px;
    border-radius:8px;
}
.course > li .details{
    position: absolute;
    top: 0px;
    left: 70px;
}
